body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: #C0BCBC;
}
div {
  border: 1px dashed red;
}

.post{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
h2{
    width: 80%;
    
}
.numer{
   position: absolute;
   right: 0;
}
img{
    width:100%
}
.feed{
    width: 550px;
    margin: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.header-post{
  width: 100%;
  background-color: white;
  padding:0;
}
h1{
    width: 550px;
    text-align: left;
    padding-left: 10px;
    margin:0
}
.caption{
    padding-left: 10px;
    padding-right: 10px;
}
.container{
  width: 550px;
  margin: 0 auto;
  padding: 10px 0px;
  box-sizing: border-box;
}
