body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

div {
  border: 1px dashed red;
}
.post{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
h2{
    width: 80%;
    
}
.numer{
   position: absolute;
   right: 0;
}
img{
    width:100%
}
.feed{
    width: 550px;
    margin: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
post{
    justify-content: center;
}
.header-post{
    width: 550px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}
h1{
    width: 550px;
    text-align: left;
.caption{
    padding-left: 10px;
    padding-right: 10px;
}
