body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: #EAEAEA;
}

.post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    margin: 0;
    font-size: 18px;
    
}
.number{
   color:#8A8A8A;
   font-size: 14px;
}
img{
    width: 100%;
    height: 400px;     
    object-fit: cover;
    display: block;
}
.feed{
    width: 600px;
    margin: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.header-post{
  background-color: white;
  padding:8px 0;
}
h1{
    text-align: left;
    margin:0
}
.caption{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}
.container{
  width: 600px;
  margin: 0 auto;
}
